<% include ../partials/header%>
    <h1>User Profile</h1>

    <div class='row'>
        <div class="col-md-4">
            <div class="thumbnail">
                <h1><%= user.firstName + " " + user.lastName %>  </h1>
                <img src='<%= user.avatar %>' alt='user profile image'>
                <div class="caption"><a href='malito:<%= user.email %>'><%= user.email %></a></div>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo earum nulla illum aliquam adipisci nesciunt amet tempora quos voluptatum est, debitis animi veniam culpa dicta minima asperiores eum voluptatem beatae, reprehenderit aspernatur accusantium in eaque consequatur? Soluta quae sunt nulla. Quasi dolorum sunt repellat quidem nam rem voluptatem mollitia. Quos a ab voluptate voluptatum, consequuntur dolore esse. Iste, eum quia?

            
        </div>
        <div class="col-md-8">
            <h3><%= user.username %>'s campgrounds</h3>
            <ul>
                <% campgrounds.forEach(function(campground){ %>
                    <li><a href='/campgrounds/<%=campground.id %>'><%= campground.name %></a></li>
                <% }) %>
            </ul>
        </div>
    </div>

<%include ../partials/footer %>